<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1 align="center">Welcome to Sporty Shoes</h1>
<hr>
	<table style="width: 100%">
		<tbody align="center">
		<tr>
			<td> <a href="/" style="font-size: medium;"> Home</a></td>
			<td> <a href="/singup" style="font-size: medium;"> Sing up</a></td>
			<!-- <td th:if="${session.adminUser != null}"> <a href="#" style="font-size: medium;"> Admin Page</a></td> -->
			<td> <a href="/logout" style="font-size: medium;"> Log out</a></td>
		</tr>
		</tbody>
	</table>
<hr>
	
<h3 align="center">Selects the Products to Purchase</h3>
	<table style="width: 100%">
		<thead align="center">
			<tr>
				<th>Product Name</th>
				<th>Price</th>
				<th>Category</th>
				<th style="display: none;">Order</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="dto : ${dtoList}">
				<td th:text="${dto.title}" />
				<td th:text="${dto.price}" />
				<td th:text="${dto.category.name}" />
				<td><a th:href="@{/orderProduct/{id}(id = ${dto.id})}">
						Order </a></td>
			</tr>
		</tbody>
	</table>
	
<hr>


<div th:if="${session.orderCart != null}">
	<h3 align="center">Order Summary</h3>
	<table style="width: 100%">
		<thead align="center">
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="orderItem : ${session.orderCart.orderItem}">
				<td th:if="${orderItem.product.title}" th:text="${orderItem.product.title}" />
				<td th:if="${orderItem.quantity}" th:text="${orderItem.quantity}" />
				<td th:if="${orderItem.orderItemTotal}" th:text="${orderItem.orderItemTotal}" />
			</tr>
		</tbody>
	</table>
	
	<label style="color: red;background: black;width: 10%; margin-left: 35%"> TOTAL ORDER AMOUNT : </label>   <label style="color: red;background: black;" th:text="${session.orderCart.orderTotal}"> </label>
	

	<form action="#" th:action="@{/executeOrder}"
		method="post">
		
		<br>
		<br>
		<br>
		<button type="submit" style="width: 10%; margin-left: 35%">Execute Order</button>
	</form>
</div>



</body>
</html>