<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1 align="center">Welcome to Sporty Shoes</h1>
<hr>

	<table style="width: 100%">
		<tbody align="center">
		<tr>
			<td> <a href="/" style="font-size: medium;"> Home</a></td>
			<td> <a href="/admin" style="font-size: medium;"> Admin Home</a></td>
			<td th:if="${session.adminUser != null}"> <a href="/logout" style="font-size: medium;"> Log out</a></td>
		</tr>
		</tbody>
	</table>
<hr>
	
	<form action="#" th:action="@{/editProduct}" th:object="${product}"
		method="post">
		<table style="width: 100%">
			<tr style="display: none;" align="center">
				<td>ID:</td>
				<td><input type="number" th:field="*{id}" /></td>
				<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
					style="color: red;">ID Error</td>
			</tr>
			<tr align="center">
				<td>Name:</td>
				<td><input type="text" th:field="*{title}" /></td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
					style="color: red;">Name Error</td>
			</tr>
			<tr align="center">
				<td>Price:</td>
				<td><input type="number" th:field="*{price}"/></td>
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
					style="color: red;">Price Error</td>
			</tr>
			
			
			<tr align="center">
			<!-- 	<td>Category:</td>
				<td><input type="number" th:field="*{quantity}" /></td>
				<td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
					style="color: red;">Quantity Error</td> -->
			
			<td>Category:</td>
			<td>

					<div>
						<select th:field="${product.cat}"
							id="dropOperator">
							<option th:each="cate : ${catNames}"
								th:value="${cate}" th:text="${cate}"></option>
						</select>
					</div>
				</td>
					
			</tr>

	
		</table>
		
			<button type="submit" style="width: 10%; margin-left: 35%">Update product</button>
	</form>




</body>
</html>