<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1 align="center">Welcome to Sporty Shoes</h1>
<hr>

	<table style="width: 100%">
		<tbody align="center">
		<tr>
			<td> <a href="/" style="font-size: medium;"> Home</a></td>
			<td> <a href="/admin" style="font-size: medium;"> Admin Home</a></td>
			<td th:if="${session.adminUser != null}"> <a href="/logout" style="font-size: medium;"> Log out</a></td>
		</tr>
		</tbody>
	</table>
<hr>

<td> <a href="/addNewProduct" style="font-size: medium;"> Add New Product</a></td>

<h3 align="center">Manage Products here</h3>
	<table style="width: 100%">
		<thead align="center">
			<tr>
				<th>Product Name</th>
				<th>Category</th>
				<th style="display: none;">Edit</th>
				<th style="display: none;">Delete</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="dto : ${prodList}">
				<td th:text="${dto.title}" />
				<td th:text="${dto.category.name}" />
				<td><a th:href="@{/manageProduct/{id}(id = ${dto.id})}">
						Edit </a></td>
				<td><a th:href="@{/deleteProduct/{id}(id = ${dto.id})}">
						Delete </a></td>
			</tr>
		</tbody>
	</table>
	
<hr>




</body>
</html>